.infinite-scroll-component {
  display: grid;
  /* background-color: blue; */
  grid-template-columns: repeat(auto-fit, minmax(275px, auto));
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.infiniteScroll__loading {
  width: 100%;
  height: 50px;
  color: #7b7983;
  margin-top: 20%;
  margin-left: 50%;
  transform: translateX(-45px);
}

@media ( min-width: 400px) {
  .infinite-scroll-component{
    width: 85%;
    margin: 20px auto;
  }
}